{% extends 'base.html' %}

{% block content %}
{% load static %}
<body background="{% static 'image/backpack.jpg' %}">
	<div class="col-lg-7 mx-auto bk padded">
			{% if user.username != "" %}
                <h2>Welcome, {{ user.username }}!</h2>
                {% if info %}
                    <h3> Steam Id: {{ info.steam_id }} </h3>
                    <h3> Region Preferences: {{ info.region_choices }} </h3>
                    <h3> Team Preferences: {{ info.team_choices }} </h3>
		    <h3> Rank: {{ info.rank }}</h3>
                {% endif %}
			{% else %}
		  	   <h2> Welcome! Please sign in or make a new account</h2>
			   <a href="/login">Login for existing users </a> <br>
			   <a href="/signup">Signup for new users </a>
			{% endif %}
		  <p><a href=../search>Post in the search board!</a></p>
	</div>
</body>
{% endblock %}
